.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
	flex: 1 0 46%;
	border: 1px solid #777;
	border-radius: 5px;
	margin: 4px;
	padding: 6px;
	display: flex;
	flex-direction: column;
	position: relative;
    min-width: 240px;
    background-color: white;
}

.product-card__details-button {
	padding: 5px;
	border-radius: 5px;
    border: 1px solid crimson;
    color: crimson;
	position: absolute;
	top: 5px;
    left: calc(100% - 56px);
    transition: all .2s;
    cursor: pointer;
}

.product-card__details-button:hover {
    background-color: crimson;
    color: white;
}

.product-list-nav {
    display: flex;
    justify-content: space-between;
	margin: 5px;
}

.product-list-nav__button {
	padding: 6px 16px;
	border-radius: 5px;
	border: 1px solid crimson;
	background-color: crimson;
	color: white;
    font-weight: bold;
    transition: all .2s;
    cursor: pointer;
}

.product-list-nav__button[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

.product-list-nav__button:hover {
	background-color: white;
	color: crimson;
}
