.wrapper {
  flex: 1 0 0;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.filterDropdown {
  width: 450px; /* after theming react-dates make this smaller */
  background-color: #FFF;
  border: #6F6F6F 1px solid;
  border-radius: 6px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: absolute;
  top: 125%;
  padding: 16px;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
}

.filterLabel {
  font-size: 10px;
  text-align: left;
}

.row {
  margin-left: 32px;
  display: flex;
  justify-content: flex-end;
}

.dateRow {
  composes: row;
  justify-content: space-between;
  align-items: center;
}

.radioButton {
  margin-right: 8px;
}

.filterButtonContents {
  padding: 3px 0;
}