.button {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #FFF;
}

.button_wrapper {
  display: inline-block;
}

.button.medium {
  padding: 6px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 6px;
}

.button.small {
  font-size: 12px;
  border-radius: 6px;
  padding: 2px 8px;
}

.button.large {
  font-size: 14px;
  border-radius: 6px;
  padding: 7px 16px;
  font-weight: bold;
}

.button_wrapper.expand {
  flex: 1 0 0;
}

.button.primary {
  border: 1px solid #222;
  background-color: #222;
}

.button.secondary {
  background-color: #FFF;
  border: 1px solid #222;
  color: #222;
}

.button.tertiary {
  background-color: transparent;
  border: 1px solid #222;
  color: #222;
}

.button.active {
  background-color: #0076CD;
  border: 1px solid #0076CD;
}

.button.link {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #781214;
  font-size: 12px;
  font-weight: bold;
}

.button.success {
  color: green;
}

.button.danger {
  color: red;
}

.button.padded {
  padding: 6px !important;
}

.button:hover {
  background-color: #444;
}

.button.secondary:hover {
  background-color: rgba(34, 34, 34, 0.25); /* #222 with 25% opacity */
}

.button.tertiary:hover {
  background-color: rgba(34, 34, 34, 0.25); /* #222 with 25% opacity */
}

.button.success-hollow:hover {
  background-color: rgba(180, 180, 180, 0.25); /* #222 with 25% opacity */
}

.button.active:hover {
  background-color: rgba(0, 118, 205, 0.75); /* #0076CD with 75% opacity */
}

.button.link:hover {
  background-color: transparent;
  text-decoration: underline;
}

.button.link.large {
  font-size: 14px;
  padding: 0;
}

.button.inline {
  width: 130px;
}

.button.disabled {
  cursor: not-allowed;
  color: #6F6F6F;
}

.button.disabled:hover {
  background-color: initial;
}

