# Copy this file to .env and fill in missing info or override defaults as needed
PORT=3000

AUTH_TOKEN=#from miniweb-bar .env DEALS_AUTH_TOKEN
REACT_APP_CLIENT_ID=#from miniweb-bar .env WEB_STORE_CLIENT_ID
REACT_APP_CLIENT_SECRET=#from miniweb-bar .env WEB_STORE_CLIENT_SECRET
REACT_APP_API_SERVER_URL=http://localhost:5000

POINT_PICKUP_URL=https://qa.pointpickup.com
POINT_PICKUP_KEY=#from heroku sandbox
POINT_PICKUP_WEBHOOKS_URL=${REACT_APP_API_SERVER_URL}/webhooks/ppu/

PAPERTRAIL_API_TOKEN=#from heroku sandbox
