<%- include("./partials/head") %>

<body>
    <%- include("./partials/nav") %>
    <div class="not-found content">
        <h1>404 :(</h1>
        <h2>Page not found!</h2>
        <p>Heres a random picture for you:</p>
        <a href="http://lorempixel.com" target="_BLANK">
            <img src="http://lorempixel.com/g/400/300" alt="LoremPixel" height="300px">
        </a>
    </div>
    <%- include("./partials/footer") %>
</body>

</html>