<%- include("./partials/head") %>
<body>
    <%- include("./partials/nav") %>
    <div class="about content">
        <h2>About</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad nesciunt, hic fugit sequi illo aperiam reiciendis exercitationem voluptatem doloribus beatae, sunt repudiandae mollitia ipsam, sed optio. Repellat adipisci asperiores aperiam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quidem necessitatibus repellat eveniet cumque, ipsum voluptate soluta vel ab quod placeat ad vitae modi nemo distinctio facere aut laboriosam! Voluptas?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit autem optio accusamus vel nisi ad at laborum doloremque, culpa quia mollitia. Facilis sunt saepe temporibus ex magni placeat consequatur culpa.</p>
    </div>
    <%- include("./partials/footer") %>
</body>
</html>
    