#main-header {
    width: 100%;
    height: 60px;
    background-color: crimson;
    color: #eee;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
