<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUser" />
                <binding name="BasicHttpBinding_IUsers" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:41234/service/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUser" contract="UserService.IUser"
                name="BasicHttpBinding_IUser" />
            <endpoint address="http://localhost:41234/service/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUsers" contract="UserService.IUsers"
                name="BasicHttpBinding_IUsers" />
        </client>
    </system.serviceModel>
</configuration>